.vid {
	margin: auto;
	width: 852px;
	background-color: #f9f9f9;
    border: 1px solid #dbdbdb;
	margin-top: 50px;
}

.vid iframe {
	width: 560px;
	height: 315px;
	margin-left: 140px;
	margin-bottom: 15px;
}

.vid h1 {
  color: #363636;  
  
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 140px; 
  margin-right: 140px; 
  text-align: center;
  line-height: 35px;
}

.vid p {
  color: #504f4f;
  font-family: Georgia, "Times New Roman", serif;
  margin-top: 10px;
  margin-right: 30px;
  font-size: 16px;
  margin-left: 100px; 
  margin-right: 100px; 
  text-indent: 20px;
  line-height: 25px;
}

.vid p:last-child{
	margin-bottom: 5%;
}


.last {
	margin-bottom: 50px;
}

.last p {
	margin-left: 200px;
}
