.poster{
	margin-top: 50px;
	text-align: center;
}

.testimonials{
	padding: 0 0 0;
    height: auto;
    padding-bottom: 0px;
}

.testimonials ul.testi_boxs{
    list-style: none;
    overflow: hidden;
    margin-top: 80px;
}

.testimonials ul.testi_boxs li{
    float: left;
    display: block;
    width: 370px;
    height: auto;
    margin-left: 20px;
	border: 1px solid #ddd;
}

.testimonials ul.testi_boxs img.avatar{
	margin-top: 5%;
    width: 90%;
	margin-left: 5%;
}

.testimonials ul.testi_boxs p{
    color: #747474;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 15px;
	margin-top: 5%;
    line-height: 22px;
    margin-bottom: 5%;
	margin-left: 5%;
	margin-right: 5%;
}

.f_cols {
	margin-top: 30px;
	margin-left: 600px;
	margin-bottom: 40px;
}

.f_cols ul.sm{
	margin-left: 10px;
    list-style: none;
    overflow: hidden;
}

.f_cols ul.sm li{
    float: left;
    margin-left: 10px;
}

.f_cols ul.sm li:first-child{
    margin-left: 0;
}

.f_cols ul.sm li a{
    display: block;
    width: 25px;
    height: 25px;
    background: url('../img/page2.png') no-repeat;
}

.f_cols ul.sm li a.p1{
    background-position: 0 0;
}
.f_cols ul.sm li a.p2{
    background-position: -26px 0;
}
.f_cols ul.sm li a.p3{
    background-position: -52px 0;
}

.f_cols ul.sm li a:hover{
    background: url('../img/page_hover.png') no-repeat;
}

.f_cols ul.sm li a.p1:hover{
    background-position: 0 0;
}
.f_cols ul.sm li a.p2:hover{
    background-position: -26px 0;
}
.f_cols ul.sm li a.p3:hover{
    background-position: -52px 0;
}